.location {
    background-color: transparent;
    border: 1px solid #444;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 10px;
}

.location__icon {
    width: 20px;   
    color:  #646cff;
}